<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.TbUserMapper">

    <select id="findByUserName" resultType="com.example.mybatis.domain.TbUser">
        select * from tb_user where login_name = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="selectById" resultType="com.example.mybatis.domain.TbUser">
        select * from tb_user where id = #{id,jdbcType=BIGINT}
    </select>

</mapper>